<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
   <link rel="stylesheet" href="style.css"/>
  
    <title>quiz</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-black fixed-top d-block position-sticky text-center ">
        <div class="container-fluid">
            <button type="button" class="navbar-toggler p-0 d-md-none " style="border-color: transparent;" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="row">
                <div class="col">
                    <a href="https://github.com/matheusMunizera" class="icon-grey">
                        <i class="bi bi-github p-0 d-none d-md-flex"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.youtube.com/channel/UCih5H8dNtieYjGFSnYtgZzA/featured" class="icon-grey">
                        <i class="bi bi-youtube p-0 d-none d-md-flex"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="https://discord.gg/hrFKyrrDRH" class="icon-grey">
                    <i class="bi bi-discord p-0 d-none d-md-flex"></i>
                    </a>
                </div>
            </div>
            <a href="index.php" class="navbar-brand flex-grow-1 swFont" id="home">
                <h1>swweb</h1>
            </a>
            <a class="btn mx-0 px-2 d-md-none" data-bs-toggle="collapse" href="#search" role="button" aria-expanded="false" aria-controls="search">
                <i class="bi bi-search icon-grey" style="font-size: 25px;"></i>
                
            </a>
      
            <a class="btn mx-0 px-2 d-none d-md-flex" >
                 <i class="bi bi-info-circle-fill icon-grey"></i>
            </a>
          
        <div class="m-0">
        <button type="button" class="btn m-0 p-0 " data-bs-toggle="modal" data-bs-target="#userModal">
                <i class="bi bi-person-fill icon-grey" ></i>
            </button>
        </div>
            
        </div>
    <div class="row  d-none d-md-flex">
    <ul class="nav swTitle  bar  m-0 p-0 justify-content-center text-uppercase">
            <li class="nav-item   ">
                <a class="nav-link  text-reset" href="#">Home</a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link text-reset" href="#">Quiz</a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link  text-reset" href="#">Databank</a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link active text-reset" href="#">Forum</a>
            </li>
        </ul>
    </div>
    </nav>

    <header class="jumbotron">
        <div class="container-fluid">
            <div class="row d-block ">

                <div class="collapse  text-center" id="search">

                    <form class="form-inline my-3">
                        <input class=" searchbox form-control mr-sm-2" type="search" placeholder="Search Forum"
                            aria-label="Search Forum">
                        <button class="btn p-0 my-2 " type="submit"><i class=" bi bi-arrow-right-circle-fill"
                                style="color: #ffc500;"></i></button>

                    </form>


                </div>

                <h1 class="swFont flex-grow-1 text-center my-5 display-5">ESCOLHA O SEU TEMA</h1>
            </div>
        </div>
    </header>
    <main role=main class="container">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open Sans"/>


		<div id='container'>
			<div id='title'>
				<h1>Learning Js Properly: Project #1 - Dynamic Quiz</h1>
			</div>
   			<br/>
  			<div id='quiz'></div>
    		<div class='button' id='next'><a href='#'>Next</a></div>
    		<div class='button' id='prev'><a href='#'>Prev</a></div>
    		<div class='button' id='start'> <a href='#'>Start Over</a></div>
    		<!-- <button class='' id='next'>Next</a></button>
    		<button class='' id='prev'>Prev</a></button>
    		<button class='' id='start'> Start Over</a></button> -->
    	</div>

		<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
		<script type="text/javascript" src='questions.json'></script>
		<script type='text/javascript' src='jsquiz.js'></script>
    </main>


    <!-- Jquery -->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
</body>
</html>