.container
{    
    position: relative;
    width: 100%;
    width: 150px;
    height: 100%;
    height: 150px;
    margin: 25px;
    background: transparent;
    display: grid;
    grid-template-columns: 2fr 6fr;    
}
.container .left_Side
{    
    border: 2px gray;
    position: relative;    
    background: rgb(41, 38, 38);        
}
.img-flex{
    display: block;
    width:150px;
    height:150px;        
    border: 2px solid #ffc500;
}

.card-body{
    padding: .2rem 1rem;
    color: #fff;
    margin: 0%;
    text-align: left;
    height: 60px;
}

.card-row{
    width: 100%;
    margin: 20 auto;
}

.card-col{
    width: 100px;
    display: inline-block;
    align-items: center;
    margin-left: 50px;
    margin: 30px;
    margin-right: 50px;
}