body{
    background-image: url("../home/assets/img/bgStarws.webp");;
}

@font-face {
    font-family: title;
    src: url(../databank/assets/fonts/Sw\ -\ Restore\ W00\ Black.ttf);
}

@font-face{
    font-family: text;
    src: url(../databank/assets/fonts/Text\ -\ DIN\ Next\ LT\ Arabic\ Regular.ttf);
}

a{
    text-decoration: none;
}

h4{
    text-align: center;
    font-size: 1.2em;
    font-family: title;
}


@media (min-width: 991.98px){ 
    h4{
        text-align: center;
        font-size: 3em;
        font-family: title;
    }

    .card{
        font-size: 2em;
    }

    .card-group{
        width: 80%;
        text-align: center;
        transform: translateX(12%);
    }
 }



#carouselExampleSlidesOnly>img{
    margin-top: -10%;
    position: center center;
    width: 100px;
}

.icon-yellow{
    font-size: 30px;
    color: #ffc500;
    text-decoration: none;
}

.icon-grey{
    font-size: 30px;
    color: #999999;
    text-decoration: none;
    border-color: transparent;
    border: none;
}

.bar{
    border: #999999 1px solid;


}

.bar>li{
    border: #999999 1px solid;
    border-top: none;
    border-bottom: none;
    color: #999999;

}

.bar>li:hover{
    color:white;
}

.icon-yellow:hover{
    color:#999999;
}

.icon-grey:hover{
    color:#ffc500;
}

.navbar-toggler{
    border-color: transparent;
}

/*Slider*/

.slide{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 991.98px){ 
    .slide{
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
 }


.carousel-control-next{
    opacity: 5;
    transform: translateX(100%);
}

.carousel-control-prev{
    opacity: 5;
    transform: translateX(-100%);
}

.carousel-control-next-icon{
    width: 4rem;
    height: 4rem;
}
.carousel-control-prev-icon{
    width: 4rem;
    height: 4rem;
}
.container-fluid{
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 80vh;
}

#mainSlider .carousel-caption{
    top:30%;
}

#mainSlider .carousel-caption h2{
    font-size: 50px;
    margin-bottom: 30px;
    text-align: left;
    margin-left: -20%;
}

#mainSlider .carousel-caption p{
    font-size: 22px;
    font-weight: 300;
    color: #FFF;
    text-align: left;
    margin-left: -20%;
}



#about-area{
    margin-top: 150px;
    background-color: #151515;
}

.main-title{
    color: #FFF;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title::after{
    content: "";
    border-top: 2px solid #FFF;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.about-title{
    font-size: 17px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
}

p{
    color: #FFF;
    font-size: 1.2em;
    font-family: text;
}

/* card */


.card-body {
    text-align: center;
    background-color: #151515;
    
}


.news{
    border-top: #999999 1px solid;
    border-bottom: #999999 1px solid;
    color: #FFF;
    padding-left: 2rem;
}

.bg-stars{
    background-image: url("../home/assets/img/bgStarws.webp");
}

.ea-img{
    max-width: 500px !important;
    
}

