/* Fonts */
@font-face { /* swFont */
    font-family: swFont;
    src: url("./assets/fonts/Sw\ -\ Restore\ W00\ Black.ttf");
}

@font-face{ /* tile */
    font-family: title;
    src: url("./assets/fonts/Titles\ -\ DIN\ Next\ LT\ Pro\ Medium.ttf");
}

@font-face{ /* text */
    font-family: text;
    src: url("./assets/fonts/Text\ -\ DIN\ Next\ LT\ Arabic\ Regular.ttf") ;
}



body{
    background-color:#151515 ;
}


/* Heador Style */
.swFont{
    color: white;
    font-family: swFont;

}

#home:hover{
    color: #ffc500;
} 


.searchbox{

    border: none;
    border-bottom: #ffc500 1px solid;
    border-radius: 50px;
    background: #434343;
    font-family: text;

}

.form-control{
    display: inline;
    width:100%;
}
.navbar-toggler{
    border-color: transparent;
}

.dropdown-menu{
    background-color: #434343;
}

.dropdown-item{
    font-family: text;
    color: white;
    border-bottom:#707070 1px solid;
}

.dropdown-split{
   color: #707070;

}



.topic-selected{
    font-family: text;
    color: #ffc500

}
.btn:hover{
    color: white;
}

.btn-outline-sw:hover {
    background-color: #ffc500;
    border-color: #ffc500;
    color: black;

}

.btn-outline-sw {
    color: white ;
    border-color: #ffc500 ;
    background-color: #434343;

}

.dropdown-item:hover{
    color: #ffc500;
    background-color: transparent;
}

.swText{
    font-family: text;
    color: white;
}

.modal-header{
    border-bottom: 1px solid #ffc500;
}

.modal-content{
    background-color: #434343;
}

.swTitle{
    font-family: title;
    color: white;
}

.modal-footer{
    border-top: 1px solid #ffc500;
}

.post-title{
    color: #ffc500;
    font-size:x-large;
}

.post-date{
    color: #707070;
    font-size: small;
}

.bg-clear-grey{
    background-color: #707070;
    color: white;
    border-radius: 5%;
    text-align: justify;
}

/* Body Style */

body{
    margin: 0;
    padding: 0;
    background: #151515;
}
.card{
    background: #151515;
}
.card-title{
  color: #ffc500; 
}
.card-text{
    padding: 5%;
    color: #FFFFFF;
}
.card-text-data{
    color: #FFFFFF;
}
.segment-title{
    color: #FFFFFF;
}

/* Nav-Bar */

.icon-yellow{
    font-size: 30px;
    color: #ffc500;
    text-decoration: none;
}

.icon-grey{
    font-size: 30px;
    color: #999999;
    text-decoration: none;
    border-color: transparent;
    border: none;
}

.bar{
    border: #999999 1px solid;


}

.bar>li{
    border: #999999 1px solid;
    border-top: none;
    border-bottom: none;
    color: #999999;

}

.bar>li:hover{
    color:white;
}

.icon-yellow:hover{
    color:#999999;
}

.icon-grey:hover{
    color:#ffc500;
}

/* Header */

.searchbox{
    
    border: none;
    border-bottom: #ffc500 1px solid;
    border-radius: 50px;
    background: #434343;
    font-family: text;
   
}

.btn-search{
    color: #ffc500;
}

/* Media query */

@media screen and (min-width:768px) {
    .bg-desk{
        background-color: #707070;
    }
    .img-desk{
        width: 1020px;
        height: 360px;
        border: none !important;
        
    }
}

a:active {color: #ffc500;}

.a{
   color: #FFFFFF;
   font: title; 
}
.seg:hover{
    color: black !important;
    background-color: #ffc500 !important;
    border: 1px black solid !important;
}
