.icon-yellow{
    font-size: 30px;
    color: #ffc500;
    text-decoration: none;
}

.icon-grey{
    font-size: 30px;
    color: #999999;
    text-decoration: none;
    border-color: transparent;
    border: none;
}

.bar{
    border: #999999 1px solid;


}

.bar>li{
    border: #999999 1px solid;
    border-top: none;
    border-bottom: none;
    color: #999999;

}

.bar>li:hover{
    color:white;
}

.icon-yellow:hover{
    color:#999999;
}

.icon-grey:hover{
    color:#ffc500;
}

.navbar-toggler{
    border-color: transparent;
}

.bg-dark{
    background-color: #151515 !important;
}

.offcanvas-header{
    --bs-gutter-x: 0rem;
    border-bottom: #999999 1px solid;
}

.offcanvas-body{
    padding: 0;
    padding-top: 1.5rem !important;
    border-bottom: #999999 1px solid;
}

.nav-link-sm{
    
    text-align: left;
    
    padding-left: 3rem !important;
}
.nav-link.active-sm{
    background-color: #FAF68D;
    color: #151515 !important;
    border-bottom-right-radius: 5rem;
    border-top-right-radius: 5rem;
}

#aside-links{
    border-bottom: none !important;
}

.config{
    border: #999999 1px solid;
    border-left: none;
    border-right: none;
}

