/* Fonts */
@font-face { /* swFont */
    font-family: swFont;
    src: url("../../assets/fonts/Sw\ -\ Restore\ W00\ Black.ttf");
    
}

@font-face{ /* tile */
    font-family: title;
    src: url("../../assets/fonts/Titles\ -\ DIN\ Next\ LT\ Pro\ Medium.ttf");
}

@font-face{ /* text */
    font-family: text;
    src: url("../../assets/fonts/Text\ -\ DIN\ Next\ LT\ Arabic\ Regular.ttf") ;
}



body{
    background-color:#151515 ;
}


/* HEADER STYLE*/


.swFont{
    color: white;
    font-family: swFont;


}

#home:hover{
    color: #ffc500;
} 


.searchbox{

    border: none;
    border-bottom: #ffc500 1px solid;
    border-radius: 50px;
    background: #434343;
    font-family: text;

}

.form-control{
    display: inline;
    width:100%;
}
.navbar-toggler{
    border-color: transparent;
}

.dropdown-menu{
    background-color: #434343;
}

.dropdown-item{
    font-family: text;
    color: white;
    border-bottom:#707070 1px solid;
}

.dropdown-split{
   color: #707070;

}



.topic-selected{
    font-family: text;
    color: #ffc500

}
.btn:hover{
    color: white;
}

.btn-outline-sw:hover {
    background-color: #ffc500;
    border-color: #ffc500;
    color: black;

}

.btn-outline-sw {
    color: white ;
    border-color: #ffc500 ;
    background-color: #434343;

}

.dropdown-item:hover{
    color: #ffc500;
    background-color: transparent;
}

.swText{
    font-family: text;
    color: white;
}

.modal-header{
    border-bottom: 1px solid #ffc500;
}

.modal-content{
    background-color: #434343;
}

.swTitle{
    font-family: title;
    color: white;
}

.modal-footer{
    border-top: 1px solid #ffc500;
}

.post-title{
    color: #ffc500;
    font-size:x-large;
}

.post-date{
    color: #707070;
    font-size: small;
}

.bg-clear-grey{
    background-color: #707070;
    color: white;
    border-radius: 5%;
    text-align: justify;
}
/* mateeus */
.icon-yellow{
    font-size: 30px;
    color: #ffc500;
    text-decoration: none;
}

.icon-grey{
    font-size: 30px;
    color: #999999;
    text-decoration: none;
    border-color: transparent;
    border: none;
}

.bar{
    border: #999999 1px solid;


}

.bar>li{
    border: #999999 1px solid;
    border-top: none;
    border-bottom: none;
    color: #999999;

}

.bar>li:hover{
    color:white;
}

.icon-yellow:hover{
    color:#999999;
}

.icon-grey:hover{
    color:#ffc500;
}

.navbar-toggler{
    border-color: transparent;
}



/* stilo */

#question{
    text-align: center !important;
}

#title {
    text-decoration: underline;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#quiz {
    text-indent: 10px;
    display:none;
}

.button {
    
    position: relative;
    float:right;
    background-color: white !important;
    color: black;
    margin: 0 2px 0 2px;
}

.button.active {
    background-color: #F8F8FF;
    color: #525252;
}

button {
    position: relative;
    float:right;
}

.button a {
    text-decoration: none;
    color: black;
}



ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#prev {
    display:none;
}

#start {
    display:none;
    width: 90px;
    text-align: center;
}

