 @font-face { /* swFont */
    font-family: swFont;
    src: url("../../assets/fonts/Sw\ -\ Restore\ W00\ Black.ttf");
    
}

@font-face{ /* tile */
    font-family: title;
    src: url("../../assets/fonts/Titles\ -\ DIN\ Next\ LT\ Pro\ Medium.ttf");
}

@font-face{ /* text */
    font-family: text;
    src: url("../../assets/fonts/Text\ -\ DIN\ Next\ LT\ Arabic\ Regular.ttf") ;
}



body{
    background-color:#151515 ;
}


/* HEADER STYLE*/


.swFont{
    color: white;
    font-family: swFont;

}

#home:hover{
    color: #ffc500;
} 





.form-control{
    display: inline;
    width:100%;
}
.navbar-toggler{
    border-color: transparent;
}

.dropdown-menu{
    background-color: #434343;
}

.dropdown-item{
    font-family: text;
    color: white;
    border-bottom:#707070 1px solid;
}

.dropdown-split{
   color: #707070;

}



.topic-selected{
    font-family: text;
    color: #ffc500

}
.btn:hover{
    color: white;
}

.btn-outline-sw:hover {
    background-color: #ffc500;
    border-color: #ffc500;
    color: black;
    
}

.btn-outline-sw {
    color: white ;
    border-color: #ffc500 ;
    background-color: #434343;
    
}

.dropdown-item:hover{
    color: #ffc500;
    background-color: transparent;
}

.swText{
    font-family: text;
    color: white;
}

.modal-header{
    border-bottom: 1px solid #ffc500;
}

.modal-content{
    background-color: #434343;
}

.swTitle{
    font-family: title;
    color: white;
}

.modal-footer{
    border-top: 1px solid #ffc500;
}

.post-title{
    color: #ffc500;
    font-size:x-large;
}

.post-date{
    color: #707070;
    font-size: small;
}

.bg-clear-grey{
    background-color: #707070;
    color: white;
    border-radius: 5%;
    text-align: justify;
}